.settings:hover{
    color: white;
}

.settings{
    color: #7c7c7c;
    transition: color 0.3s ease;
}

.widget{
    color: #242424;
    
    transition: color 0.9s ease;

}

.widget:hover{
    color: #696969;
    

}